.container {
  text-align: center;
  color: green;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.w3-container {
  padding-bottom: 30px !important;
}

.left {
  margin-left: auto !important;
}
