<div class="container" ng-controller="AppCtrl">
  <!-- Darkens background overlay when Modal is opened-->
  <div class="overlay" ng-show=data.isOpen></div>

  <h1>CLEAR Membership Estimate</h1>

  <!-- Trigger/Open The Modal -->
  <button ng-show="data.isLess" class="ng-hide btn" ng-click="openModal()">Add a Family Member</button>

  <!--Custom Family Member Modal -->
  <div ng-show="data.isOpen" class="modal">
    <span class="close close-btn" ng-click="closeModal()">&times;</span>
    <h2>Add Family Member</h2>

    <form ng-submit="addMember()">
      <input class="customInput promocodeInput coral" type="text" ng-model="data.member" name="text" />
      <input type="submit" class="btn addBtn" id="submit" ng-show="data.member" value="Add"/>
    </form>

  </div><br><br>

 <!-- Membership Table -->
 <table class="center">
   <tr>
     <th class="bottomPadding">Annual Membership</th>
     <th class="bottomPadding customPriceStyle">${{data.prices.memberPrice}}</th>
   </tr>

   <tr ng-show="data.hasFamily">
     <th>Family Membership</th>
     <th>   </th>
   </tr>

   <tr ng-show="data.members" ng-repeat="person in data.members">
     <td class="customLeft memberPadding">* {{person}}</td>
     <td class="customPriceStyle memberPriceBottom">${{data.prices.familyPrice}}</td>
   </tr>

   <tr class="divider">
     <th class="customLeft">Total</th>
     <th class="customPriceStyle">${{data.prices.total}}</th>
   </tr>
 </table>
 <br>

<!-- Promo Code -->
<form ng-submit="addPromocode()">
  <input type="text" class="promocodeInput" ng-change="changeBackColor()" ng-init="data.promocodeText='Promo Code'" ng-model="data.promocodeText" ng-class="data.customStyle.colorClass" name="text"/>
  <input type="submit" id="submit" ng-show="data.isApply" class="ng-hide btn" value="Apply"/>
  <input type="submit" id="submit" ng-show="data.isRemove" class="ng-hide btn" value="Remove"/>
</form>

</div>
